[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/EdpCommon"]
	path = vendor/EdpCommon
	url = git://github.com/EvanDotPro/EdpCommon.git
[submodule "vendor/EdpUser"]
	path = vendor/EdpUser
	url = git://github.com/EvanDotPro/EdpUser.git
[submodule "vendor/SpiffyDoctrine"]
	path = vendor/SpiffyDoctrine
	url = git://github.com/SpiffyJr/SpiffyDoctrine.git
[submodule "vendor/MwopGuestbook"]
	path = vendor/MwopGuestbook
	url = git://github.com/EvanDotPro/MwopGuestbook.git
[submodule "vendor/SpiffyDoctrineORM"]
	path = vendor/SpiffyDoctrineORM
	url = git://github.com/SpiffyJr/SpiffyDoctrineORM.git
