[submodule "library/ZendFramework"]
	path = library/ZendFramework
	url = git://git.zendframework.com/zf.git
[submodule "vendors/EdpCommon"]
	path = vendors/EdpCommon
	url = git://github.com/EvanDotPro/EdpCommon.git
[submodule "vendors/EdpUser"]
	path = vendors/EdpUser
	url = git://github.com/EvanDotPro/EdpUser.git
